@model MMM.Library.WebExtras.JQDataTables.Datatable

<table class="dataTable table-bordered table-striped" id="@Model.TableID">
    <thead>
      <tr>
        @foreach (DatatableColumn col in Model.Columns)
        { 
          <th>@Html.Raw(col.Name)
          </th>
        }
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    var dtable = @Html.Raw(Model.TableSettings.ToString() + ";")
    dtable["sDom"] = (dtable["sDom"] == null) ? "t<'row-fluid'<'span6'i><'span6'p>>" : dtable["sDom"];
    dtable["sPaginationType"] = "bootstrap";
    @{
      if (Model.TableData != null)
      {
        <text>
          dtable['bServerSide'] = false;
          dtable['sAjaxSource'] = null;
        </text>
      }
    }

    dtable.fnServerData = function(sSource, aoData, fnCallback) {
    @{
      foreach (PostbackItem item in Model.ServerPostbackData)
      {
        <text>
          aoData.push({ name: '@item.name', value: '@item.value'});
        </text>
      }
    }
      $.getJSON(sSource, aoData, function(json) {
        fnCallback(json)            
      });
    };

    var col = @Model.Columns.Length - 1;
    dtable.fnCreatedRow = function (nRow, aData, iDataIndex) {
      $(nRow).addClass(aData[col]);      
    };
    
    @Html.Raw(string.Format("var {0}_tbl = $('#{0}').dataTable(dtable);", Model.TableID))

    @{
      if (Model.TableData != null)
      {
        <text>
          var firstPage = @Html.Raw(Model.TableData.ToString())

          @Html.Raw(string.Format("oSettings = {0}_tbl.fnSettings();", Model.TableID))          
          oSettings.oFeatures.bServerSide = true;
          oSettings.sAjaxSource = '@Model.TableSettings.sAjaxSource';
          @Html.Raw(string.Format("{0}_tbl.oApi._fnAjaxUpdateDraw(oSettings, firstPage);", Model.TableID))
        </text>
      }
    }

  </script>