@using WebExtras.DemoApp.App_Start
@using WebExtras.Core
@using SquishIt.Framework
@using SquishIt.Mvc
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Html
@using WebExtras.Mvc.Bootstrap
<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title - Bootstrap 3 - WebExtras</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="Mihir Mone" />
  <meta name="application-name" content="WebExtras" />
  <meta name="description" content=".net mvc, .net mvc 4, .net mvc helpers, bootstrap, flot, datatables, gumby" />
  <link rel="icon" type="image/ico" href="@Links.Content.favicon_ico" />
  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CSSBootstrap3.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBase.GetStringValue())

  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="@Links.Scripts.excanvas_min_js"></script><![endif]-->
  
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBootstrap3.GetStringValue())
  
  @RenderSection("scripts", required: false)

  <script type="text/javascript">
    function goToGoogle() { window.location = "http://www.google.com.au"; }
    function goToYoutube() { window.location = "http://www.youtube.com"; }
    function gotoCodeplex() { window.open('http://webextras.codeplex.com/releases', '_blank'); }
    function gotoDownload() { window.open('@Url.Action(MVC.Bootstrap3.Home.Download())', '_self'); }
  </script>
</head>
<body>
  <br />
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="collapse navbar-collapse">
      @Html.Hyperlink("WebExtras", Url.Content("~/")).AddCssClass("navbar-brand")
      <ul class="nav navbar-nav">
        <li class="@Html.SelectedTab("Home", "Index")">@Html.ActionLink("Home", MVC.Bootstrap3.Home.Index())</li>
        <li class="@Html.SelectedTab("Core", "Generic")">@Html.ActionLink("Core", MVC.Bootstrap3.Core.Generic())</li>
        <li class="@Html.SelectedTab("Core", "Datatables")">@Html.ActionLink("jQuery Datatables", MVC.Bootstrap3.Core.Datatables())</li>
        <li class="@Html.SelectedTab("Core", new[] { "Flot", "JQPlot" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.Hyperlink("jQuery Flot", MVC.Bootstrap3.Core.Flot())</li>
            <li>@Html.Hyperlink("jqPlot", MVC.Bootstrap3.Core.JQPlot())</li>
          </ul>
        </li>
        <li class="@Html.SelectedTab("Mvc", new[] { "CoreHtml", "CoreForm" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc Core<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Custom Action Results", MVC.Bootstrap3.Mvc.ActionResults())</li>
            <li>@Html.ActionLink("Html extensions", MVC.Bootstrap3.Mvc.CoreHtml())</li>
            <li>@Html.ActionLink("Form extensions", MVC.Bootstrap3.Mvc.CoreForm())</li>
          </ul>
        </li>
        <li class="@Html.SelectedTab("Mvc", new[] { "BootstrapHtml", "BootstrapForm" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc Bootstrap<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Html extensions", MVC.Bootstrap3.Mvc.BootstrapHtml())</li>
            <li>@Html.ActionLink("Form extensions", MVC.Bootstrap3.Mvc.BootstrapForm())</li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>@(Html.Button(EButton.Regular, "Get WebExtras", "gotoDownload()")
                .AddCssClass("download-btn")
                .AsButton(EBootstrapButton.Primary)
                .AddIcon(EFontAwesomeIcon.Download_Alt))</li>
      </ul>
    </div>
  </div>
  <div class="container main">
    @RenderBody()
  </div>
  <footer>
    <small style="float: left" id="build-date">@{ Html.RenderAction(MVC.Flavour.BuildDetails()); }</small>
    <small>Copyright &copy; @DateTime.Now.Year Mihir Mone. All Rights Reserved. </small>
  </footer>
</body>
</html>