@{
  ViewBag.Title = "Home";
}
<h3 class="keep-center">
  WebExtras
</h3>
<p>
  WebExtras is a collection of helper methods for .NET developers. This library is
  aimed at adding to the existing helper methods already provided by .NET MVC along
  with some general useful list of extensions and helpers.
</p>
<p>
  <strong>WebExtras.dll</strong>
</p>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>
        Major namespaces
      </th>
      <th>
        Description
      </th>
    </tr>
    <tr>
      <td>
        WebExtras.Core
      </td>
      <td>
        Generic helper methods that can aid in any .NET development, be it desktop or web
        development
      </td>
    </tr>
    <tr>
      <td>
        WebExtras.JQDataTables
      </td>
      <td>
        Contains helper method which are very useful when using the @Html.Hyperlink("jQuery Datatables", "http://datatables.net/")
        library to display tables on a website. These classes along with the provided partial
        view helps in leveraging all creation logic to C# which is type safe rather than
        doing it in Javascript
      </td>
    </tr>
    <tr>
      <td>
        WebExtras.JQFlot
      </td>
      <td>
        Contains helper methods which are very useful when using the @Html.Hyperlink("jQuery Flot", "http://www.flotcharts.org/")
        graph plotting library.
      </td>
    </tr>
  </tbody>
</table>
<p>
  <strong>WebExtras.Mvc.dll</strong>
</p>
<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th>
        Major namespaces
      </th>
      <th>
        Description
      </th>
    </tr>
    <tr>
      <td>
        WebExtras.Mvc.Core
      </td>
      <td>
        Generic helper methods that can aid in .NET MVC Web development
      </td>
    </tr>
    <tr>
      <td>
        WebExtras.Mvc.Bootstrap
      </td>
      <td>
        Helper methods for the popular @Html.Hyperlink("Bootstrap v2.x", "http://getbootstrap.com/2.3.2/")
        theming and griding framework
      </td>
    </tr>
    <tr>
      <td>
        WebExtras.Mvc.Bootstrap3
      </td>
      <td>
        Helper methods for the new @Html.Hyperlink("Bootstrap v3.x", "http://getbootstrap.com/2.3.2/")
        theming and griding framework
      </td>
    </tr>
    <tr>
      <td>
        WebExtras.Mvc.Gumby
      </td>
      <td>
        Helper methods for the @Html.Hyperlink("Gumby 2.x", "http://gumbyframework.com/")
        theming and griding framework
      </td>
    </tr>
    <tr>
      <td>
        WebExtras.Mvc.Html
      </td>
      <td>
        Contains all entity classes and the basic framework logic to create various HTML
        elements
      </td>
    </tr>
  </tbody>
</table>
