@using WebExtras.DemoApp.App_Start
@using WebExtras.Core
@using SquishIt.Framework
@using SquishIt.Mvc
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Gumby
<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title - Gumby - WebExtras</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="Mihir Mone" />
  <meta name="application-name" content="WebExtras" />
  <meta name="description" content=".net mvc, .net mvc 4, .net mvc helpers, bootstrap, flot, datatables, gumby" />
  <link rel="icon" type="image/ico" href="@Links.Content.favicon_ico" />
  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CSSGumby.GetStringValue())

  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="@Links.Scripts.excanvas_min_js"></script><![endif]-->

  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBase.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSGumby.GetStringValue())
  @RenderSection("scripts", required: false)
  <script type="text/javascript">
    function goToGoogle() { window.location = "http://www.google.com.au"; }
    function goToYoutube() { window.location = "http://www.youtube.com"; }
    function gotoCodeplex() { window.open('http://webextras.codeplex.com/releases', '_blank'); }
  </script>
</head>
<body>
  <br />
  <div id="navbar" class="row navbar metro" gumby-fixed="top">
    <h4 class="two columns logo">
      @Html.Hyperlink("WebExtras", Url.Content("~/"))
    </h4>
    <ul class="ten columns">
      <li class="@Html.SelectedTab("Home", "Index")">@Html.Hyperlink("Home", MVC.Gumby.Home.Index())</li>
      <li class="@Html.SelectedTab("Core", "Generic")">@Html.Hyperlink("Core", MVC.Gumby.Core.Index())</li>
      <li class="@Html.SelectedTab("Core", "Datatables")">@Html.Hyperlink("jQuery Datatables", MVC.Gumby.Core.Datatables())</li>
      <li class="@Html.SelectedTab("Core", new[] { "Flot", "JQPlot" }) dropdown">@Html.Hyperlink("Graphs", "#")
        <div class="dropdown">
          <ul>
            <li>@Html.Hyperlink("jQuery Flot", MVC.Gumby.Core.Flot())</li>
            <li>@Html.Hyperlink("jqPlot", MVC.Gumby.Core.JQPlot())</li>
          </ul>
        </div>
      </li>
      <li class="@Html.SelectedTab("Mvc", new[] { "ActionResults", "CoreHtml", "CoreForm" })">@Html.Hyperlink("Mvc Core", "#")
        <div class="dropdown">
          <ul>
            <li>@Html.Hyperlink("Custom Action Results", MVC.Gumby.Mvc.ActionResults())</li>
            <li>@Html.Hyperlink("Html Extensions", MVC.Gumby.Mvc.CoreHtml())</li>
            <li>@Html.Hyperlink("Form Extensions", MVC.Gumby.Mvc.CoreForm())</li>
          </ul>
        </div>
      </li>
      <li class="@Html.SelectedTab("Mvc", new[] { "GumbyHtml", "GumbyForm" })">@Html.Hyperlink("Mvc Gumby", "#")
        <div class="dropdown">
          <ul>
            <li>@Html.Hyperlink("Html Extensions", MVC.Gumby.Mvc.GumbyHtml())</li>
            <li>@Html.Hyperlink("Form Extensions", MVC.Gumby.Mvc.GumbyForm())</li>
          </ul>
        </div>
      </li>
      <li>
        @(Html.Hyperlink("Get WebExtras", MVC.Gumby.Home.Download())
        .AddIcon(EGumbyIcon.Download)
        .AsButton(EGumbyButton.Primary))
      </li>
    </ul>
  </div>
  <div class="container main">
    @RenderBody()
  </div>
  <footer>
    <small style="float: left" id="build-date">@{ Html.RenderAction(MVC.Flavour.BuildDetails()); }</small>
    <small>Copyright &copy; @DateTime.Now.Year Mihir Mone. All Rights Reserved. </small>
  </footer>
</body>
</html>
