@using WebExtras.DemoApp.App_Start
@using WebExtras.Core
@using SquishIt.Framework
@using SquishIt.Mvc
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Html
@using WebExtras.Mvc.Bootstrap

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title - WebExtras</title>
  <link rel="icon" type="image/ico" href="@Links.Content.favicon_ico" />
  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CSSMain.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBase.GetStringValue())

  <script type="text/javascript">
    function gotoCodeplex()
    {
      window.open('http://webextras.codeplex.com/releases', '_blank');
    }
  </script>
</head>
<body>
  <br />
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="@Html.SelectedTab("Core", "Generic")">@Html.ActionLink("Core", MVC.Core.Generic())</li>
        <li class="@Html.SelectedTab("Core", "Datatables")">@Html.ActionLink("jQuery Datatables", MVC.Core.Datatables())</li>
        <li class="@Html.SelectedTab("Core", "Flot")">@Html.ActionLink("jQuery Flot", MVC.Core.Flot())</li>
        <li class="@Html.SelectedTab("Mvc", "Core")">@Html.ActionLink("Mvc Core", MVC.Mvc.Core())</li>
        <li class="@Html.SelectedTab("Mvc", "Bootstrap")">@Html.ActionLink("Mvc Bootstrap", MVC.Mvc.Bootstrap())</li>
      </ul>
      <ul class="nav secondary-nav">
        <li>@Html.IconButton(ButtonOfType.Regular, "btn btn-success", "download", "Get WebExtras", "icon-arrow-down icon-white", "gotoCodeplex()")</li>
      </ul>
    </div>
  </div>
  <div class="container-fluid main">
    @RenderBody()
  </div>
  <footer>
    <small>Copyright &copy; @DateTime.Now.Year Mihir Mone. All Rights Reserved.</small>
  </footer>
  @RenderSection("scripts", required: false)
</body>
</html>


