@{
  ViewBag.Title = "Mvc Bootstrap Html Helper Extensions";
}

<h3 class="keep-center">Mvc Bootstrap Html Helper Extensions</h3>

<div class="row-fluid">
  <div class="span6">
    <div class="row-fluid">
      <div class="span3">
        <strong>Assembly</strong>
      </div>
      <div class="span4">
        WebExtras.Mvc.dll
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <strong>Namespace</strong>
      </div>
      <div class="span4">
        WebExtras.Mvc.Bootstrap
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="span3">
      <strong>Dependancies</strong>
    </div>
    <div class="span4">
      <ul class="dependancies">
        <li>webextras.css</li>
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <h4>Creating a standalone Bootstrap icon</h4>
  <p>Markup</p>
  <pre><code>
@@Html.Icon(BoostrapIcon.Ok)
  </code></pre>
  <p>Output</p>
  <div class="content">
  @Html.Icon(BoostrapIcon.Thumbs_Up) @Html.Icon(BoostrapIcon.Arrow_Down) @Html.Icon(BoostrapIcon.Backward) @Html.Icon(BoostrapIcon.Ban_Circle) @Html.Icon(BoostrapIcon.Tint)
  </div>
</div>

<div class="well">
  <h4>Adding icons to existing elements</h4>
  <p>Markup</p>
  <pre><code>
@@Html.Hyperlink("Take me to google", "http://www.google.com").AddIcon(BoostrapIcon.Ok)
  </code></pre>
  <p>Output</p>
  <div class="content">
    @Html.Hyperlink("Take me to google", "http://www.google.com").AddIcon(BoostrapIcon.Ok)
  </div>
  <p>All available extensions</p>
  <pre><code>
.AddIcon(icon)
.AddWhiteIcon(icon)
  </code></pre>
</div>

<div class="well">
  <h4>Creating button styled hyperlinks</h4>
  <p>Markup</p>
  <pre><code>
@@Html.Hyperlink("Take me to google", "http://www.google.com")
    .AddWhiteIcon(BoostrapIcon.Ok)
    .AsButton(BootstrapButtonType.Info)
  </code></pre>
  <p>Output</p>
  <div class="content">
    @Html.Hyperlink("Take me to google", "http://www.google.com").AddWhiteIcon(BoostrapIcon.Ok).AsButton(BootstrapButtonType.Info)
  </div>
  <p>All available extensions</p>
  <pre><code>
<span class="comment">// Note that this extension can only be used for hyperlinks and button elements</span>
.AsButton(type)
  </code></pre>
</div>
