@using WebExtras.DemoApp.App_Start
@using WebExtras.Core
@using SquishIt.Framework
@using SquishIt.Mvc
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Html
@using WebExtras.Mvc.Bootstrap
<!DOCTYPE html>
<html>
<head>  
  <title>@ViewBag.Title - WebExtras</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="Mihir Mone" />
  <meta name="application-name" content="WebExtras" />
  <meta name="description" content=".net mvc, .net mvc 4, .net mvc helpers, bootstrap, flot, datatables" />

  <link rel="icon" type="image/ico" href="@Links.Content.favicon_ico" />
  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CSSBootstrap.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBase.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBootstrap.GetStringValue())
  <script type="text/javascript">
    function goToGoogle() { window.location = "http://www.google.com.au"; }
    function goToYoutube() { window.location = "http://www.youtube.com"; }
    function gotoCodeplex() { window.open('http://webextras.codeplex.com/releases', '_blank'); }
    function gotoDownload() { window.open('@Url.Action(MVC.Bootstrap.Home.Download())', '_self'); }

    $(document).ready(function () {
      $('a.dropdown-toggle').dropdownHover({ delay: 200 });
    });
  </script>
</head>
<body>
  <br />
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      @Html.Hyperlink("WebExtras", "/").AddCssClass("brand")
      <ul class="nav">
        <li class="@Html.SelectedTab("Core", "Generic")">@Html.ActionLink("Core", MVC.Bootstrap.Core.Generic())</li>
        <li class="@Html.SelectedTab("Core", "Datatables")">@Html.ActionLink("jQuery Datatables", MVC.Bootstrap.Core.Datatables())</li>
        <li class="@Html.SelectedTab("Core", "Flot")">@Html.ActionLink("jQuery Flot", MVC.Bootstrap.Core.Flot())</li>
        <li class="@Html.SelectedTab("Mvc", new string[] { "CoreHtml", "CoreForm" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc Core<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Custom Action Results", MVC.Bootstrap.Mvc.ActionResults())</li>
            <li>@Html.ActionLink("Html extensions", MVC.Bootstrap.Mvc.CoreHtml())</li>
            <li>@Html.ActionLink("Form extensions", MVC.Bootstrap.Mvc.CoreForm())</li>
          </ul>
        </li>
        <li class="@Html.SelectedTab("Mvc", new string[] { "BootstrapHtml", "BootstrapForm" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc Bootstrap<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("Html extensions", MVC.Bootstrap.Mvc.BootstrapHtml())</li>
            <li>@Html.ActionLink("Form extensions", MVC.Bootstrap.Mvc.BootstrapForm())</li>
          </ul>
        </li>
      </ul>
      <ul class="nav secondary-nav">
        <li>@(Html.Button(EButton.Regular, "Get WebExtras", "gotoDownload()").AsButton(EBootstrapButton.Primary).AddWhiteIcon(EBootstrapIcon.Arrow_Down))</li>
      </ul>
    </div>
  </div>
  <div class="container-fluid main">
    <small class="well affix documentation-affix">@Html.Hyperlink("Stable Docs", "http://mihirmone.dyndns.org/appdocs/webextras") | @Html.Hyperlink("Nightly Docs", "http://mihirmone.dyndns.org/nightly/webextras")</small>
    @RenderBody()
  </div>
  <footer>
    <small class="pull-left" id="build-date">@Html.Inline(Links.Content.inline.build_txt)</small>
    <small>Copyright &copy; @DateTime.Now.Year Mihir Mone. All Rights Reserved. @Html.Icon(EFontAwesomeIcon.Css3, new { title = "Valid CSS3" }) @Html.Icon(EFontAwesomeIcon.Html5, new { title = "Valid HTML5" })</small>
  </footer>
  @RenderSection("scripts", required: false)
</body>
</html>