@using WebExtras.DemoApp.App_Start
@using WebExtras.Core
@using SquishIt.Framework
@using SquishIt.Mvc
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Html
@using WebExtras.Mvc.Bootstrap
<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title - Bootstrap 2 - WebExtras</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="Mihir Mone" />
  <meta name="application-name" content="WebExtras" />
  <meta name="description" content=".net mvc, .net mvc 4, .net mvc helpers, bootstrap, flot, datatables, gumby" />
  <link rel="icon" type="image/ico" href="@Links.Content.favicon_ico" />
  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CSSBootstrap.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBase.GetStringValue())
  
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="@Links.Scripts.excanvas_min_js"></script><![endif]-->

  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBootstrap.GetStringValue())

  @RenderSection("scripts", required: false)

  <script type="text/javascript">
    function goToGoogle() { window.location = "http://www.google.com.au"; }
    function goToYoutube() { window.location = "http://www.youtube.com"; }
    function gotoCodeplex() { window.open('http://webextras.codeplex.com/releases', '_blank'); }
    function gotoDownload() { window.open('@Url.Action(MVC.Bootstrap.Home.Download())', '_self'); }
  </script>
</head>
<body>
  <br />
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      @Html.Hyperlink("WebExtras", Url.Content("~/")).AddCssClass("brand")
      <ul class="nav">
        <li class="@Html.SelectedTab("Home", "Index")">@Html.Hyperlink("Home", MVC.Bootstrap.Home.Index())</li>
        <li class="@Html.SelectedTab("Core", "Generic")">@Html.Hyperlink("Core", MVC.Bootstrap.Core.Generic())</li>
        <li class="@Html.SelectedTab("Core", "Datatables")">@Html.Hyperlink("jQuery Datatables", MVC.Bootstrap.Core.Datatables())</li>

        <li class="@Html.SelectedTab("Core", new[] { "Flot", "JQPlot" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.Hyperlink("jQuery Flot", MVC.Bootstrap.Core.Flot())</li>
            <li>@Html.Hyperlink("jqPlot", MVC.Bootstrap.Core.JQPlot())</li>
          </ul>
        </li>

        <li class="@Html.SelectedTab("Mvc", new[] { "CoreHtml", "CoreForm" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc Core<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.Hyperlink("Custom Action Results", MVC.Bootstrap.Mvc.ActionResults())</li>
            <li>@Html.Hyperlink("Html extensions", MVC.Bootstrap.Mvc.CoreHtml())</li>
            <li>@Html.Hyperlink("Form extensions", MVC.Bootstrap.Mvc.CoreForm())</li>
          </ul>
        </li>
        <li class="@Html.SelectedTab("Mvc", new[] { "BootstrapHtml", "BootstrapForm" }) dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc Bootstrap<i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li>@Html.Hyperlink("Html extensions", MVC.Bootstrap.Mvc.BootstrapHtml())</li>
            <li>@Html.Hyperlink("Form extensions", MVC.Bootstrap.Mvc.BootstrapForm())</li>
          </ul>
        </li>
      </ul>
      <ul class="nav secondary-nav">
        <li>@(Html.Button(EButton.Regular, "Get WebExtras", "gotoDownload()").AsButton(EBootstrapButton.Primary).AddIcon(EFontAwesomeIcon.Download_Alt))</li>
      </ul>
    </div>
  </div>
  <div class="container-fluid main">
    @RenderBody()
  </div>
  <footer>
    <span style="float: left" id="build-date">@{ Html.RenderAction(MVC.Flavour.BuildDetails()); }</span>
    <span style="float: right">Copyright &copy; @DateTime.Now.Year Mihir Mone. All Rights Reserved.</span>
    <div>@{ Html.RenderAction(MVC.Flavour.VersionDetails()); }</div>
  </footer>
</body>
</html>
