@using WebExtras.DemoApp.App_Start
@using WebExtras.Core
@using SquishIt.Framework
@using SquishIt.Mvc
@using WebExtras.Mvc.Core
@using WebExtras.Mvc.Html
@using WebExtras.Mvc.Bootstrap
<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title - JQuery UI - WebExtras</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="Mihir Mone" />
  <meta name="application-name" content="WebExtras" />
  <meta name="description" content=".net mvc, .net mvc 4, .net mvc helpers, bootstrap, flot, datatables, gumby" />
  <link rel="icon" type="image/ico" href="@Links.Content.favicon_ico" />

  @Bundle.Css().MvcRenderCachedAssetTag(ContentBundle.CSSJQueryUI.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSBase.GetStringValue())
  @Bundle.JavaScript().MvcRenderCachedAssetTag(ContentBundle.JSJQueryUI.GetStringValue())

  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="@Links.Scripts.excanvas_min_js"></script><![endif]-->

  @RenderSection("scripts", required: false)

  <script type="text/javascript">
    function goToGoogle() { window.location = "http://www.google.com.au"; }
    function goToYoutube() { window.location = "http://www.youtube.com"; }
    function gotoCodeplex() { window.open('http://webextras.codeplex.com/releases', '_blank'); }
    function gotoDownload() { window.open('@Url.Action(MVC.JQueryUI.Home.Download())', '_self'); }

    $(document).ready(function () {
      $("#menu").menubar({
        autoExpand: true
      });

      $('.ui-nav a, .ui-btn').button();
    });
  </script>
</head>
<body>
  <ul id="menu" class="ui-menubar-fixed-top">
    <li>@Html.Hyperlink("WebExtras", Url.Content("~/")).AddCssClass("brand")</li>
    <li class="@Html.SelectedTab("Home", "Index")">@Html.ActionLink("Home", MVC.JQueryUI.Home.Index())</li>
    <li class="@Html.SelectedTab("Core", "Generic")">@Html.ActionLink("Core", MVC.JQueryUI.Core.Generic())</li>
    <li class="@Html.SelectedTab("Core", "Datatables")">@Html.ActionLink("jQuery Datatables", MVC.JQueryUI.Core.Datatables())</li>
    <li class="@Html.SelectedTab("Core", new string[] { "Flot", "JQPlot" }) dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Graphs<i class="caret"></i></a>
      <ul class="dropdown-menu">
        <li>@Html.Hyperlink("jQuery Flot", MVC.JQueryUI.Core.Flot())</li>
        <li>@Html.Hyperlink("jqPlot", MVC.JQueryUI.Core.JQPlot())</li>
      </ul>
    </li>

    <li class="@Html.SelectedTab("Mvc", new string[] { "CoreHtml", "CoreForm" })">
      <a href="#">Mvc Core</a>
      <ul>
        <li>@Html.ActionLink("Custom Action Results", MVC.JQueryUI.Mvc.ActionResults())</li>
        <li>@Html.ActionLink("Html extensions", MVC.JQueryUI.Mvc.CoreHtml())</li>
        <li>@Html.ActionLink("Form extensions", MVC.JQueryUI.Mvc.CoreForm())</li>
      </ul>
    </li>
    <li class="@Html.SelectedTab("Mvc", new string[] { "JQueryUIHtml", "JQueryUIForm" })">
      <a href="#">Mvc JQuery UI</a>
      <ul>
        <li>@Html.ActionLink("Html extensions", MVC.JQueryUI.Mvc.JQueryUIHtml())</li>
        <li>@Html.ActionLink("Form extensions", MVC.JQueryUI.Mvc.JQueryUIForm())</li>
      </ul>
    </li>
    <li class="download-btn">@(Html.Button(EButton.Regular, "Get WebExtras", "gotoDownload()"))</li>
  </ul>

  <div class="col-12 main">
    @RenderBody()
  </div>
  <footer>
    <small class="pull-left" id="build-date">@Html.Inline(Links.Content.inline.build_txt)</small>
    <small>Copyright &copy; @DateTime.Now.Year Mihir Mone. All Rights Reserved. @Html.Icon(EFontAwesomeIcon.Css3, new { title = "Valid CSS3" }) @Html.Icon(EFontAwesomeIcon.Html5, new { title = "Valid HTML5" })</small>
  </footer>
</body>
</html>
